name: Build and Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-test:
    runs-on: arc-runners
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: read
      packages: read
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Verify Zig installation
      run: zig version
    
    - uses: ./.github/actions/build-and-test
      with:
        day: "01"
    - uses: ./.github/actions/build-and-test
      with:
        day: "02"
    - uses: ./.github/actions/build-and-test
      with:
        day: "03"
