name: Build and Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-test:
    runs-on: arc-runners
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: read
      packages: read
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Verify Zig installation
      run: zig version
    
    - name: build day 1
      run: cd 01 && zig build
    - name: build day 2
      run: cd 02 && zig build
    - name: build day 3
      run: cd 03 && zig build
    
    - name: Run day 1 tests
      run: cd 01 && zig build test
    - name: Run day 2 tests
      run: cd 02 && zig build test
    - name: Run day 3 tests
      run: cd 03 && zig build test
